<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" verbose="10">
  <listeners>
		<listener class-name="PredefinedMethods.TestListener2"></listener>
	</listeners>
  <test name="Amazon Test">
  <classes>
			 <class name="testing.test.Annotationstest"/>  
			 		
			</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
